.rapper-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  text-align: center;
}

.rapper-card {
  width: 300px;
  height: 200px;
  box-shadow: 2px 2px 5px lightgray ;
  list-style: none;
  border-radius: 6px;
}

.gold-rapper {
  box-shadow: 2px 2px 5px gold;
}